{% extends "base.html" %}

{% block content %}
<div class="container w-75 p-3 bg-dark-subtle">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <form method="post" action="" name="register">
                
                {{ form.hidden_tag() }}

                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Add User
                    </legend>
                    <div class="form-group mb-3">
                       {{ form.first_name.label(class="form-control-label") }}
                        {{ form.first_name(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.last_name.label(class="form-control-label") }}
                        {{ form.last_name(class="form-control form-control-lg") }}
                     </div>
                     <div class="form-group mb-3">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email(class="form-control form-control-lg") }}
                     </div>

                     <div class="form-group mb-3">
                        {{ form.password.label(class="form-control-label") }}
                         {{ form.password(class="form-control form-control-lg") }}
                     </div>
                     <div class="form-group mb-3">
                        {{ form.confirm_password.label(class="form-control-label") }}
                         {{ form.confirm_password(class="form-control form-control-lg") }}
                     </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-secondary") }}
                </div>
                <div style="height: 25px;"></div>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col border-top pt-3">
            <small class="text-muted">
                Already Registered? <a href=" {{ url_for('login') }}">Sign in</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}